
.vote-btn {
  float: right;
  margin-top: 23.5%;
}

.vote-count {
  float: left;
  font-size: xx-large;
  margin-top: 2%;
}

.song-card {
  margin-left: 5%;
}

.song-title{
	font-size: small;
	font-style: italic;
}

.thumb {
  display: none;
}

input.vol-slider {
  /*-webkit-appearance: none;*/
  width: 20%;
  position: relative;
  top: -50px;
  left: 500px;
}

nav button.control {
    text-indent: -9999px;
    width: 55px;
    height: 50px;
    border: 0;
    padding: 10px;
    margin-top: 0.5%;
    background: transparent;
    cursor: pointer;
}

nav button.play {
    background: url('/images/control_play.png') center no-repeat;
}

nav button.play:hover {
    background: url('/images/control_play_hover.png') center no-repeat;
}

nav button.pause {
    background: url('/images/control_pause.png') center no-repeat;
}

nav button.pause:hover {
    background: url('/images/control_pause_hover.png') center no-repeat;
}

nav button.prev {
    background: url('/images/control_start.png') center no-repeat;
}

nav button.prev:hover {
    background: url('/images/control_start_hover.png') center no-repeat;
}

nav button.next {
    background: url('/images/control_end.png') center no-repeat;
}

nav button.next:hover {
    background: url('/images/control_end_hover.png') center no-repeat;
}