h1 Login
form(action="/login", method="post")
  p
    label.control-label Username
    input(type='text', placeholder='Username', name="username")
  p
    label.control-label Password
    input(type='password', placeholder='Password', name="password")
    br
  p
    button.btn.btn-primary(type='submit') Login
  p
    i
      | username: admin
      br
      | password: admin