
body
    nav.teal
      .nav-wrapper
<<<<<<< HEAD
        a.brand-logo(href='play') PlayMyWay 
=======
        a.brand-logo(href='#!') PlayMyWay 
>>>>>>> Add functionality to display current song on navbar
          span.song-title {{currSong._name}}

.container
  .row
    .col.s10.offset-s1
      div(ng-repeat="song in songs")
        .col.s11
          .vote-count.purple-text.text-lighten-1
            {{song.votes || 0}}
          .card-panel.blue.song-card
            .white-text
              {{song.name}}
        .col.s1
          a.btn-floating.btn-large.waves-effect.waves-light.purple.lighten-1.vote-btn(ng-click="voteup(song._id)")
            i.material-icons present_to_all

